<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nicloud.workflowclient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.nicloud.workflowclient.permission.READ" />
    <uses-permission android:name="com.nicloud.workflowclient.permission.WRITE" />

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="com.nicloud.workflowclient.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.nicloud.workflowclient.permission.C2D_MESSAGE" />

    <application
        android:name=".main.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_nicloud"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".detailedtask.main.DetailedTaskActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.WhiteBackground"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".utility.DisplayImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".messagechat.MessageChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".mainmenu.CreateCaseActivity"
            android:theme="@style/AppDialogTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".provider.debug.AndroidDatabaseManager"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait" />

        <service
            android:name=".backgroundtask.service.ActionService"
            android:exported="false" />
        <service
            android:name=".backgroundtask.service.UploadService"
            android:exported="false" />
        <service
            android:name=".backgroundtask.service.MessageService"
            android:exported="false" />
        <service
            android:name=".backgroundtask.service.CaseDiscussionService"
            android:exported="false" />

        <!-- Parse -->
        <service android:name="com.parse.PushService" />

        <receiver
            android:name=".parse.ParsePushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="com.nicloud.workflowclient" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".provider.contentprovider.WorkFlowProvider"
            android:authorities="com.nicloud.workflowclient.provider"
            android:exported="false"
            android:multiprocess="false"
            android:readPermission="com.nicloud.workflowclient.provider.permission.READ"
            android:writePermission="com.nicloud.workflowclient.provider.permission.WRITE" />
    </application>

</manifest>
